.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: black;
  column-gap: 1px;
}

.section:has(> :only-child) {
  grid-template-columns: 1fr;
  padding: 0;
}

.card {
  text-decoration: none;
  background: #fff;
  color: inherit;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  position: relative;
  aspect-ratio: 16/9;
  margin-bottom: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  padding: 10px;
  padding-bottom: 20px;
}

.preTitle {
  font-family: var(--gt-mono);
  font-size: var(--mono-small);
  text-transform: uppercase;
}

.title {
  font-family: var(--swiss-time);
  font-size: var(--times-medium);
  line-height: 1.1;
}

.section:has(> :only-child) .title {
  font-family: var(--swiss-time);
  font-size: var(--times-large);
}

.subTitle {
  font-family: var(--gt-mono);
  font-size: var(--mono-small);
  text-transform: uppercase;
  font-style: italic;
}

@media (max-width: 768px) {
  .section {
    grid-template-columns: 1fr;
  }
}
