.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  background: #000;
  gap: 1px;
}

.textColumns {
  background: #fff;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.column1 {
  font-family: var(--swiss-times);
  font-size: var(--times-large);
  text-transform: uppercase;
  text-align: center;
}

.column2 {
  font-family: var(--swiss-times);
  font-size: var(--times-small);
  text-align: center;
  text-transform: uppercase;
}

.column3 {
  font-family: var(--swiss-times);
  font-size: var(--times-small);
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
}

.imageWrapper {
  position: relative;
  aspect-ratio: 3/4;
}

.link {
  border: var(--standard-border);
  padding: 10px 20px;
  font-family: var(--gt-mono);
  font-size: var(--mono-small);
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.link:hover {
  background: #f0f0f0;
}

@media (max-width: 768px) {
  .section {
    grid-template-columns: 1fr;
  }

  .textColumns {
    grid-template-columns: 1fr;
  }
}