.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 80px;
}

.text {
  font-family: var(--swiss-time);
  font-size: var(--times-medium);
  line-height: 1.25;
}

.text a {
  color: inherit;
}
