* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

:root {
  --font-heading-lg: 50px;
  --standard-border: 1.5px solid #000;
  --gt-medium: 20px;
  --gt-large: 40px;
  --times-large: 80px;
  --times-medium: 50px;
  --times-small: 20px;
  --mono-large: 30px;
  --mono-medium: 20px;
  --lofty-line-height: 1.1;
  --color-accent: #a1cfcc;
}

p {
  margin-bottom: 1em;
}

main {
  min-height: 100vh;
}

@media screen and (max-width: 600px) {
  :root {
    --font-heading-lg: 20px;
  }
}

.view-all {
  font-family: var(--gt-mono);
}
