* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

:root {
  --font-heading-lg: 50px;
  --standard-border: 1.5px solid currentColor;
  --gt-medium: 20px;
  --gt-large: 40px;
  --gt-xlarge: 60px;
  --times-large: 80px;
  --times-medium: 50px;
  --times-small: 20px;
  --mono-large: 30px;
  --mono-medium: 20px;
  --lofty-line-height: 1.1;
  --color-accent: #a1cfcc;
  --color-festival: #00D997;
  --background-festival: #0704a5;
}

p {
  margin-bottom: 1em;
}

main {
  min-height: 100vh;
}

@media screen and (max-width: 600px) {
  :root {
    --font-heading-lg: 20px;
  }
}

.view-all {
  font-family: var(--gt-mono);
}

#festivalLogo:hover {
  background: #00d997;
  transition: all 400ms;
}

#festivalLogo:hover svg path {
  fill: #0704a5;
  transition: all 400ms;
}