.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 40px 20px 20px;
}

.heading {
  font-family: var(--gt-expanded);
  font-size: var(--gt-large);
  text-transform: uppercase;
}

.links {
  display: flex;
  gap: 12px;
}

.link {
  font-family: var(--gt-mono);
  font-size: var(--mono-small);
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  border: var(--standard-border);
  padding: 6px 12px;
}

.link:hover {
  background: #f0f0f0;
}