.container {
  display: flex;
  gap: 12px;
  padding: 0 20px;
  flex-wrap: wrap;
}

.button {
  font-family: var(--gt-mono);
  font-size: var(--mono-small);
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  border: var(--standard-border);
  padding: 8px 16px;
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.button:hover {
  background: #f0f0f0;
}